.footer {
    padding-top: 94px;
    background-color: black;

    &__logo {
        display: block;
    }

    &__content {
        padding-top: 60px;
    }

    &__contact {
        font-style: normal;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 289px;
            height: 1px;
            right: -200px;
            top: 145px;
            transform: rotate(90deg);
            opacity: 0.2;
            background-color: white;

        }
    }

    &__list {
        padding-right: 30px;
    }

    &__item {
        margin-bottom: 16px;
        color: white;

        &--title {
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 2px;
        }

        &--social {
            padding: 40px 0;
            margin-bottom: 0;

            .footer__link:hover {
                border: none;
            }

            .footer__link:not(:last-child) {
                margin-right: 16px;
            }
        }

        &--mod {
            display: block;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0.2px;
            padding-top: 8px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.4px;
        color: white;
        padding-bottom: 6px;

        &:hover {
            border-bottom: 1px solid white;
        }

        &--tel {
            color: white;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 1.4px;

            &:hover {
                border: none;
            }
        }
    }

    &__subsribe {
        max-width: 320px;
    }

    &__text {
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0.4px;
        padding: 12px 0 20px;
    }

    &__subsribe-input {
        background-color: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        box-shadow: none;
        outline: transparent;
        max-width: 273px;
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;

        &::placeholder {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.4px;

        }
    }

    &__btn {
        border: none;
        background-color: white;
        padding: 13px 26%;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.3;
        letter-spacing: 1.4px;
    }
}