.header {
    margin-bottom: 12px;

    &__run {
        justify-content: space-around;
        background-color: black;
        color: white;
        max-width: 100%;
        margin: 0 auto;
        padding: 14px 0 15px;

    }

    &__run-item {
        text-transform: uppercase;
        color: white;
        letter-spacing: 3px;
        font-weight: 600;
        font-style: normal;
    }

    &__nav-main {
        padding: 30px 0;
        align-items: center;
    }

    &__logo {
        display: block;
        margin-left: auto;
        flex-grow: 0.1;
    }

    &__cart {
        border: none;
        background-color: white;
        padding: 0;
        position: relative;
        cursor: pointer;

    }

    &__nav-sub {
        padding: 6px 0px 10px;
    }

    &__sub-menu {
        .content-menu__link {
            font-size: 15px;
            font-weight: 500;
            text-transform: none;
            letter-spacing: 0.4px;
            font-style: normal;
        }
    }

    &__search-wrapper {
        width: 320px;
        border-bottom: 1px solid black;
    }

    &__search {
        z-index: 2;
    }
}