.offers {
    text-align: center;
    margin-bottom: 30px;
    &__title {
        text-align: left;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: 3.8px;
        text-transform: uppercase;
    }

    &__items {
        padding: 36px 0 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 59px 16px;
    }

    &__btn {
        text-align: center;
        text-transform: uppercase;
        color: white;
        background-color: black;
        padding: 19px 3%;
    }
}