.order {
    padding-top: 40px;
    border-top: 1px solid#CCCFD1;
    position: relative;

    &__input {
        &.jq-radio {
            border: 1px solid black;

            &.checked .jq-radio__div {
                width: 12px;
                height: 12px;
                margin: 1px 1px 1px 1px;
                background: black;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 3.8px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 40px;
    }

    &__fixed {
        position: fixed;
        top: 185px;
        right: 55px;
        max-width: 320px;

        @media(max-width: 1250px) {
            display: none;

        }
    }

    &__list-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #1E1F20;
        margin-bottom: 16px;
    }

    &__item {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #4A4C4E;
        margin-bottom: 16px;
        align-items: center;
    }

    &__product-total,
    &__delivery-total {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #000000;
        display: block;
    }

    &__cost-total {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #000000;
    }

    &__fixed-link {
        background-color: #B6B9BB;
        padding: 20px 0;
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #707274;
    }

    &__text-link {
        color: black;
        font-weight: 600;
    }

    &__your-contact {
        max-width: 474px;
    }

    &__form-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.4px;
        color: #1E1F20;
        margin-bottom: 20px;
    }

    .input__title {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.4px;
        color: #969A9C;
        padding-left: 10px;
        display: block;
    }

    .input {
        border: none;
        border-bottom: 1px solid black;
        padding: 0 8px 8px;
        outline: transparent;

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.4px;
            color: #000000;
        }
    }

    &__form-tel {
        width: 100%;
        margin-bottom: 50px;
    }

    &__form-name {
        margin-right: 16px;
        width: 47.6%;
        margin-bottom: 50px;

        @media(max-width: 768px) {
            width: 100%;

        }
    }

    &__form-surname {
        width: 47.6%;
        margin-bottom: 50px;

        @media(max-width: 768px) {
            width: 100%;

        }
    }

    &__form-email {
        width: 100%;
        margin-bottom: 60px;
    }

    &__delivery-payment {
        max-width: 830px;
    }

    &__info {
        padding-bottom: 12px;
        border-bottom: 1px solid#CCCFD1;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    &__info-num {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #1E1F20;
        flex-grow: 0.02;

    }

    &__info-delivery {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: #000000;
        padding-left: 36px;
        background-image: url('../images/delivery.svg');
        background-position: left top;
        background-repeat: no-repeat;
        padding-top: 6px;
    }

    &__info-total {
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.4px;
        color: #1E1F20;
    }

    &__city {
        max-width: 474px;
        margin-bottom: 60px;
    }

    &__city-select {
        width: 100%;
        margin-bottom: 20px;

        .jq-selectbox__select {
            max-width: 474px !important;
            border-bottom: 1px solid #B6B9BB !important;
        }

        .jq-selectbox__select-text {
            width: 100% !important;
        }

        .jq-selectbox__dropdown {
            width: 100% !important;
        }
    }

    &__city-choice {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.2px;
        color: #707274;
        border-bottom: 1px dashed #707274;
        margin-right: 20px;
    }

    &__delivery {
        max-width: 830px;
        margin-bottom: 60px;
    }

    &__delivery-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.4px;
        color: #1E1F20;
        margin-bottom: 20px;
        display: block;
    }

    &__delivery-new-post {
        margin-bottom: 32px;

        &--active {
            .order__new-post-inner {
                display: block;
            }
        }
    }

    &__method-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.4px;
        color: #000000;
        width: 200px;
    }

    &__delivery-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;
        color: #000000;
        flex-grow: 0.7;
        margin-right: auto;
    }

    &__delivery-cost {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;
        color: #000000;
        width: 80px;
    }

    &__new-post-inner {
        padding-top: 22px;

    }

    &__select {
        width: 100%;

        &.custom-select {
            .jq-selectbox.focused .jq-selectbox__select {
                border: none;
            }

            .jq-selectbox__select {
                max-width: 474px !important;
                border-bottom: 1px solid #B6B9BB !important;
            }

            .jq-selectbox__select-text {
                width: 100% !important;
            }

            .jq-selectbox__dropdown {
                max-width: 474px;
                width: 100% !important;
            }
        }
    }

    &__delivery-courier {
        margin-bottom: 20px;
    }

    &__new-post-courier-inner {
        padding-top: 24px;
        max-width: 656px;
    }

    &__courier-street {
        width: 100%;
        margin-right: 16px;
    }

    &__courier-home {
        max-width: 96px;
        margin-right: 16px;
    }

    &__courier-room {
        max-width: 96px;
    }

    &__payment,
    &__get {
        margin-bottom: 60px;
    }

    &__payment-title,
    &__get-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.4px;
        color: #1E1F20;
    }

    &__payment-title,
    &__cash,
    &__card,
    &__get-title,
    &__me-get,
    &__someone-get {
        display: block;
        margin-bottom: 20px;
    }

    &__no-call {
        margin-bottom: 30px;
    }

    &__comments {
        margin-bottom: 48px;
    }

    &__comments-title {
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #707274;
        border-bottom: 1px dashed #707274;
    }

    &__total-info {
        max-width: 830px;
        display: none;

        @media(max-width: 1250px) {
            display: block;

        }
    }


    &__attention {
        padding: 20px 24px;
        background-color: #ECF0F3;
        margin-bottom: 60px;
        max-width: 830px;
    }

    &__attention-text {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #000000;
    }

    &__btn-wrapper {
        align-items: center;
        margin-bottom: 80px;

    }

    &__btn {
        color: white;
        background-color: black;
        padding: 20px 0;
        max-width: 432px;
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-right: 40px;

        @media(max-width: 575px) {
            margin-right: 0;

        }
    }

    &__total {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #707274;
        align-items: center;

        @media(max-width: 1250px) {
            display: none;

        }

    }

    &__total-price {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #1E1F20;
    }
}