.top-slider {
    .slider {
        max-width: 1328px;
        width: 100%;
        height: 420px;

        &__item {
            padding: 80px 0px 16px 44px;
        }

        &__title {
            color: white;
            max-width: 403px;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: 3.8px;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &__link {
            display: inline-block;
            color: white;
            padding-bottom: 8px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
            line-height: 1.3;
            letter-spacing: 1.4px;
            border-bottom: 2px solid white;
            transition: .3s;

            &:hover {
                border-color: transparent;
            }
        }

        .slick-arrow {
            position: absolute;
            height: 48px;
            width: 48px;
            font-size: 0;
            bottom: 20px;
            border: none;
            cursor: pointer;
            background-repeat: no-repeat;
            outline: transparent;
            transition: .3s;
        }

        .slick-prev {
            right: 92px;
            background-image: url('/images/top-slider/Left.svg');
            background-position: 50% 50%;

            &:hover {
                background-position: 30% 50%;
            }
        }

        .slick-next {
            right: 24px;
            background-image: url('/images/top-slider/Right.svg');
            background-position: 50% 50%;

            &:hover {
                background-position: 70% 50%;
            }
        }

        .slick-dots {
            display: flex;
            position: absolute;
            left: 44px;
            bottom: 46px;

            li {
                padding: 0;
                margin: 0 8px;
                width: 8px;
                height: 8px;
               
            }

            button {
                font-size: 0;
                width: 8px;
                height: 8px;
                border: 1px solid #FFFFFF;
                background-color: transparent;
                text-decoration: none;
                padding: 0;
                outline: transparent;
                cursor: pointer;
            }

            .slick-active {
                button {
                    background-color: white;
                }
            }
        }


    }
}