body {
    background-color: white;
    font-size: 16px;
    line-height: 1.2;
    @extend %gil-m;
    color: #243f4d;
}

.container {
    max-width: 1358px;
    margin: 0 auto;
    padding: 0 15px;

    &--box {
        max-width: 1328px;
        padding: 0;
    }

}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.d-none {
    display: none;
}