%gil-b {
    font-family: 'Gilroy';
    font-weight: 700;
}

%gil-sb {
    font-family: 'Gilroys';
    font-weight: 600;
}

%gil-m {
    font-family: 'Gilroy';
    font-weight: 500;
}

%gil-r {
    font-family: 'Gilroy';
    font-weight: 400;
}