@import'global/reset';
@import'global/vars';
@import'global/fonts';
@import'global/libs';
@import'global/global';

// block
@import'block/header.scss';
@import'block/top-slider.scss';
@import'block/offers.scss';
@import'block/product.scss';
@import'block/order.scss';
@import'block/success.scss';
@import'block/footer.scss';
// compnents
@import'components/content-menu.scss';
@import'components/menu.scss';
@import'components/all-svg.scss';
@import'components/custom.scss';
@import'components/brands.scss';
@import'components/product-card.scss';
@import'components/cart.scss';
@import'components/product-show.scss';
@import'components/recent.scss';
@import'components/header-order.scss';
@import'components/order-card.scss';