.cart-icon {
    width: 20px;
    height: 24px;
    margin: auto;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin: auto;
}

.search-icon-big {
    width: 24px;
    height: 22px;
}

.down-icon {
    width: 10px;
    height: 11px;
}