.brands {
    padding: 60px 0;

    &__item {
        max-width: 208px;
        width: 208px;
        height: 208px;
        background: #ECF0F3;
        margin: 0 16px 0 0 ;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 992px) {
            max-width: 188px;
            max-height: 188px;
        }

        @media(max-width: 798px) {
            max-width: 158px;
            max-height: 158px;
        }
        @media(max-width: 575px) {
            max-width: 100px;
            max-height: 100px;
        }
    }

    &__link {
        max-width: 208px;
        width: 100%;
        height: 100%;
    }

    &__img {
        margin: auto;
    }
}