.cart {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    right: -2000px;
    transition: .5s;

    &--active {
        right: 0;
    }

    &__inner {
        background-color: white;
        height: 100vh;
        width: 440px;
        margin-left: auto;
        padding: 28px;
        flex-direction: column;
    }

    &__top {
        margin-bottom: 20px;
        align-items: center;
    }

    &__back {
        margin-right: 16px;
        cursor: pointer;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: #1E1F20;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    &__footer {
        margin-top: auto;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #CCCFD1;
        padding: 16px 0px 0;
    }

    &__total {
        padding: 8px 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: #1E1F20;
    }

    &__link {
        width: 100%;
        background-color: black;
        color: white;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        padding: 20px 0;
    }
}