.content-menu {
    &__item {
        &:not(:last-child) {
            margin-right: 27px;
        }
    }

    &__link {
        font-size: 13px;
        line-height: 1.3;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 8px;
        color: black;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid black;
        }

        &--active {
            border-bottom: 2px solid black;
        }
    }

} 