.custom-select {
    .jq-selectbox {
        &__select {
            padding: 0 30px 0 10px;
            border: none;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            font: 13px/32px Gilroy;
            font-weight: 600;
            font-size: 13px;
            max-width: 102px;
        }

        &__trigger {
            border: none;
            right: 5px;
        }

        &__trigger-arrow {
            border-top-color: black;
        }

        &__dropdown {
            width: 100px !important;
            top: 25px !important;
            bottom: auto !important;
            background: white;
            font-size: 15px;
            letter-spacing: 0.4px;
            font-weight: 500;
            border-radius: 8px;

            li {
                text-transform: none;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 0.4px;
                color: #292B2C;
                padding: 6px 0;
                text-align: center;
                border: 1px solid transparent;

                &.selected {
                    border-bottom: 1px solid black;
                }
            }

            li:hover {
                background-color: white;
                color: black;
                border-bottom: 1px solid black;
            }

            li.selected {
                background-color: white;
                color: black;
            }
        }
    }
}

.custom__input {
    border: none;
    width: 100%;
    outline: transparent;

    &::placeholder {
        color: black;
    }

}