.product-show {
    max-height: 100px;

    &__inner {
        height: 100%;
        max-width: 67px;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        padding: 4px 0;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 11px;
    }

    &__delete {
        content: '';
        position: absolute;
        top: 4px;
        right: 0px;
        width: 12px;
        height: 12px;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: black;
        width: 100%;
    }

    &__size-color {
        width: 100%;
    }

    &__size {
        margin-right: 20px;
    }

    &__size,
    &__color {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.4px;
        color: #969A9C;
    }

    &__size-name,
    &__color-name {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.4px;
        color: black;
    }

    &__price {
        width: 100%;
    }

    &__now-price {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        margin-right: 16px;
    }

    &__old-price {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: #707274;
        margin-right: 20px;
    }

    &__sale {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #EB5757;
    }

    &__delivery {
        padding-left: 35px;
        background-image: url('../images/delivery.svg');
        background-position: left top;
        background-repeat: no-repeat;
        width: 50%;
    }

    &__delivery-timing {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: #000000;
        padding-top: 5px;
        display: block;
    }

    &__amount {
        margin-left: auto;

        .jq-number {
            padding: 0;
            margin-right: 15px;

            &__field {
                width: 24px;
                height: 16px;
                border: none;
                border-radius: 0;
                box-shadow: none;
                padding: 0;

            }

            input {
                text-align: center;
                height: 100%;
                padding: 0;
                font-size: 13px;
            }

            &__spin {
                border: none;
                border-radius: 0;
                width: 20px;
                height: 16px;
                background: white;
            }

            .minus {
                left: -20px;
                top: 0;
                box-shadow: none;

                &:after {
                    border: none;
                    content: '-';
                    top: -4px;
                    left: 5px;
                    font-size: 24px;
                }
            }

            .plus {
                right: -21px;
                top: 0;
                box-shadow: none;

                &:after {
                    border: none;
                    content: '+';
                    top: -4px;
                    left: 0px;
                    font-size: 25px;

                }
            }
        }
    }
}